/* General */
body {
  background-color: #ccc;
}
p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}
.heading-style {
  text-decoration: underline;
}

/* Navbar */
nav {
  z-index: 1;
  min-height: 45px;
  background-color: rgba(50, 50, 50, .8);
}
.dropdown-menu.show {
  display: flex;
  min-width: 0;
}
ul a, ul a:hover {
  color: white;
}
#nav-links a {
  padding: 0 10px;
}
.a-style {
  text-decoration: none;
  color: white;
  opacity: .8;
}
.a-style:hover {
  color: white;
  opacity: 1;
  transform: scale(1.05)
}
.a-style-none {
  text-decoration: none;
}
.dropdown-toggle:after {
  content: none;
}
i {
  font-size: 20px;
}

/* Hero */
.hero-img-fluid {
  max-width: 100%;
  height: auto;
}
@media (max-width: 768px) {
  .hero-img-fluid {
    min-width: 200%;
  }
}
#hero {
  overflow: hidden;
}
#hero-text {
  top: 15%;
}
#hero-text:hover {
  transform: rotate(360deg);
  transition: transform .5s linear 0s;
}
.hero-style {
  color: white;
  background-color: rgba(50, 50, 50, .9);
  border-radius: 15px;
  padding: 0 5px 5px;
  margin: 10px;
}
#btns-box {
  bottom: 15%;
}
#bounce:active {
  animation: bounce .2s linear 0s;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}
#wiggle:active {
  animation: wiggle .2s linear 0s;
}
@keyframes wiggle {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

/* Bio */
#bio {
  width: 70%;
}
#bio img {
  padding: 5px 15px;
}
#bio img:hover {
  transform:rotate(90deg);
}
#bio p {
  font-size: 18px;
}
@media (max-width: 640px) {
  #bio {
    width: 100%;
  }
  #bio p {
    font-size: 14px;
  }
}

/* Projects */
#projects img {
  border-radius: 15px;
}
#projects a {
  text-decoration: none;
}
.project-btn {
  font-size: 20px;
  color: white;
  border: 1px solid gray;
  background-color: #333;
  border-radius: 5px;
  opacity: .8;
}
.project-btn:hover {
  opacity: 1;
  transform: scale(1.1)
}

/* Footer */
.icon-large {
  font-size: 30px;
}
footer {
  background-color: #555;
}
#altcademy-img {
  border: 1px solid gray;
  border-radius: 30%;
}