body {
  background-color: #161616; 
}

.filler {
  padding-top: 20vh;
}

.background {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.card {
  background-color: #474747;
  color: white;
  width: 20rem;
}

.card-body {
  background-color: #757575;
}